<nav id="skip">
    <ul>
        <li><a href="/" accesskey="a" class="link-accessible">{{ 'general.accessibility.toggle_accessibility_mode' | t }} (a)</a></li>
        <li><a href="/" accesskey="h">{{ 'general.accessibility.go_to_homepage' | t }} (h)</a></li>
        <li><a href="#nav" accesskey="n">{{ 'general.accessibility.go_to_navigation' | t }} (n)</a></li>
        <li><a href="{{ routes.search_url }}" aria-controls="search" accesskey="s">{{ 'general.accessibility.go_to_search' | t }} (s)</a></li>
        <li><a href="#content" accesskey="c">{{ 'general.accessibility.go_to_content' | t }} (c)</a></li>
        <li><a href="#shopify-section-footer" accesskey="f">{{ 'general.accessibility.go_to_footer' | t }} (f)</a></li>
    </ul>
</nav>