{% schema %}
{
  "name": "Codext-Description-Blocks",
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Codext-Description-Blocks"
    }
  ]
}
{% endschema %}

<style>
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .column {
    width: 48%;
    padding: 10px;
    position: relative;
  }
  .column-description {
    width: 100%;
  }
  .product-detail-block-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .product-detail-block {
    width: 48%;
    margin-bottom: 20px;
  }

  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
    .column {
      width: 100%;
    }
    .product-detail-block {
      width: 100%;
    }
  }

  .no-border-table {
    border-collapse: collapse;
    width: 100%;
  }
.no-border-table {
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
.no-border-table td,
.no-border-table th {
  border: none;
  padding: 3px 5px;
  text-align: left;
  width: 50%;
}
.no-border-table tr:nth-child(2n) > td {
  background-color: #fff;
}


  .product-detail-block-container table tr {
       display: flex;
       align-items: flex-start;
       margin-bottom: 10px;
  } 
</style>


<div class="container">
<div class="column">
  <h3>{{ 'product.product_description' | t }}</h3>
  {{ product.description }}
  
{% if request.locale.iso_code == 'de' %}
  {% if product.metafields.custom.differenzbesteuert == true or product.metafields.custom.differenzbesteuert == 'true' %}
    <p>Diese Ware unterliegt der Differenzbesteuerung. Daher wird die im Kaufpreis enthaltene Umsatzsteuer in der Rechnung nicht gesondert ausgewiesen.</p>
  {% endif %}
{% else %}
  {% if product.metafields.custom.differenzbesteuert == true or product.metafields.custom.differenzbesteuert == 'true' %}
    <p>This item is subject to differential taxation. Therefore, the value-added tax included in the purchase price will not be separately shown on the invoice.</p>
  {% endif %}
{% endif %}
  
{% assign lieferumfang = product.metafields.custom.box_papiere %}
{% if lieferumfang == true %}
  {% if request.locale.iso_code == "de" %}
    <strong>Lieferumfang</strong>
    <p>Uhr mit Box und Papieren, Internationale Garantiekarte sowie Herstellerverpackung</p>
  {% else %}
    <strong>Delivery Contents</strong>
    <p>Watch with box and papers, international warranty card, and manufacturer's packaging</p>
  {% endif %}
{% endif %}
</div>
  
  <div class="column">
    <div class="product-detail-block-container">
      <!-- Block "Grunddaten" -->
      <div class="product-detail-block">
        <div class="product-detail-block-inner">
          <h3>{{ 'product.basic_data' | t }}</h3>
          <table class="no-border-table">
            {% if product.metafields.custom.zustand_metaobject != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_condition' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.zustand_metaobject.value.zustand.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.jahr != blank %}
            <tr>
              <td class="wider-column">Jahr</td>
              <td>{{ product.metafields.custom.jahr }}</td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.aufzug_metaobject != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_elevator' | t }}</td>
              <!-- <td>{{ product.metafields.custom.aufzug_metaobject }}</td> -->
              <td>
              {% for meta in product.metafields.custom.aufzug_metaobject.value.aufzug.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.kaliber_werk != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_caliber_and_movement' | t }}</td>
              <td>{{ product.metafields.custom.kaliber_werk }}</td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.gangreserve_h != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_power' | t }}</td>
              <td>{{ product.metafields.custom.gangreserve_h }}</td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.schliesse_metaobject != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_close' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.schliesse_metaobject.value.schliesse.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.geschlecht_metaobject != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_gender' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.geschlecht_metaobject.value.geschlecht.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.wasserdicht_metaobject != blank %}
            <tr>
              <td class="wider-column">{{ 'product.basic_data_waterproof' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.wasserdicht_metaobject.value.wasserdicht.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <!-- Block "Materialien & Farben" -->
      <div class="product-detail-block">
        <div class="product-detail-block-inner">
          <h3>{{ 'product.materials_and_colors' | t }}</h3>
          <table class="no-border-table">
            {% if product.metafields.custom.material_gehaeuse_metaobject != blank %}
            <tr>
              <td>{{ 'product.mat_color_houseing_material' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.material_gehaeuse_metaobject.value %}
                {% for meta_obj in meta.material_gehause.value %}
                  <div>{{ meta_obj }}</div>
                {% endfor %}
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.material_armband_metaobject != blank %}
            <tr>
              <td>{{ 'product.mat_color_bracelet_material' | t }}</td>
              <td>
               {% for meta in product.metafields.custom.material_armband_metaobject.value %}
                {% for meta_obj in meta.material_armband.value %}
                  <div>{{ meta_obj }}</div>
                {% endfor %}
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.farbe_armband_metaobject != blank %}
            <tr>
              <td>{{ 'product.mat_color_color_bracelet' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.farbe_armband_metaobject.value %}
                {% for meta_obj in meta.farbe_armband.value %}
                  <div>{{ meta_obj }}</div>
                {% endfor %}
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.material_schliesse_metaobject != blank %}
            <tr>
              <td>{{ 'product.mat_color_material_clasp' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.material_schliesse_metaobject.value.material_schliesse.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.material_luenette_metaobject != blank %}
            <tr>
              <td>{{ 'product.mat_color_bezel_material' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.material_luenette_metaobject.value.material_lunette.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.farbe_zifferblatt_metaobject != blank %}
            <tr>
              <td>{{ 'product.mat_color_color_dial' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.farbe_zifferblatt_metaobject.value %}
                {% for meta_obj in meta.farbe_zifferblatt.value %}
                  <div>{{ meta_obj }}</div>
                {% endfor %}
              {% endfor %}
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <!-- Block "Gehäuse & Zifferblatt" -->
      <div class="product-detail-block">
        <div class="product-detail-block-inner">
          <h3>{{ 'product.case_and_dial' | t }}</h3>
          <table class="no-border-table">
            {% if product.metafields.custom.durchmesser_metaobject != blank %}
            <tr>
              <td>{{ 'product.case_dial_dia_housing' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.durchmesser_metaobject.value.durchmesser.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.glas_metaobject != blank %}
            <tr>
              <td>{{ 'product.case_dial_glass' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.glas_metaobject.value.glas.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
            {% if product.metafields.custom.zahlen_zifferblatt_metaobject != blank %}
            <tr>
              <td>{{ 'product.case_dial_numbers_dial' | t }}</td>
              <td>
              {% for meta in product.metafields.custom.zahlen_zifferblatt_metaobject.value.zahlen_zifferblatt.value %}
                <div>{{ meta }}</div>
              {% endfor %}
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>

      <!-- Block "Funktionen & Eigenschaften" -->
      <div class="product-detail-block">
        <div class="product-detail-block-inner">
          <h3>{{ 'product.function_and_feature' | t }}</h3>
          <table class="no-border-table">
            {% assign funktionen_values = "" %}
            {% if product.metafields.custom.funktionen != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.funktionen | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_2nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_2nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_3nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_3nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_4nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_4nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_5nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_5nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_6nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_6nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_7nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_7nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Funktionen_8nd != blank %} {% assign funktionen_values = funktionen_values | append: product.metafields.custom.Funktionen_8nd %} {% endif %}
            {% if product.metafields.custom.funktionen_metaobject != blank %}
            <tr>
              <td>{{ 'product.func_feature_features' | t }}</td>
              <!-- <td>{{ funktionen_values | remove_last: ", " }}</td> -->
              <td>
              {% for meta in product.metafields.custom.funktionen_metaobject.value %}
                {% for meta_obj in meta.funktionen.value %}
                  <div>{{ meta_obj }}</div>
                {% endfor %}
              {% endfor %}
              </td>
            </tr>
            {% endif %}

            {% assign sonstiges_values = "" %}
            {% if product.metafields.custom.sonstiges != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.sonstiges | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_2nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_2nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_3nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_3nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_4nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_4nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_5nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_5nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_6nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_6nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_7nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_7nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_8nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_8nd | append: ", " %} {% endif %}
            {% if product.metafields.custom.Sonstiges_9nd != blank %} {% assign sonstiges_values = sonstiges_values | append: product.metafields.custom.Sonstiges_9nd %} {% endif %}
            {% if product.metafields.custom.sonstiges_metaobject != blank %}
            <tr>
              <td>{{ 'product.func_feature_miscellaneous' | t }}</td>
              <!-- <td>{{ sonstiges_values | remove_last: ", " }}</td> -->
              <td>
              {% for meta in product.metafields.custom.sonstiges_metaobject.value %}
                {% for meta_obj in meta.sonstiges.value %}
                  <div>{{ meta_obj }}</div>
                {% endfor %}
              {% endfor %}
              </td>
            </tr>
            {% endif %}
          </table>
        </div>
      </div>
    </div>
  </div>
</div>