{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{%- liquid
  assign custom_height_ratio = settings.custom_product_image_ratio | divided_by: 100.0
  assign image_width = 430
  assign image_height = image_width | times: custom_height_ratio
  assign image_width_2 = image_width | times: 2
  assign image_height_2 = image_height | times: 2

  assign free_shipping_amount = settings.free_shipping_amount | replace: ',', '.' | times: 1
  assign has_free_shipping_amount = false
  if settings.enable_free_shipping
   assign has_free_shipping_amount = true
   assign free_shipping_amount = settings.free_shipping_amount | replace: ',', '.' | times: 1 | times: 100
  endif
-%}

{%- if cart.item_count == 0 -%}
  <article class="cart-empty text-center w560 align-center">
    <{{ section.settings.title_size }}>{{ 'cart.empty_title' | t }}</{{ section.settings.title_size }}>
    <p class="m50">{{ 'cart.empty_subtitle' | t }}</p>
    <p class="link-btn"><a href="{{ routes.collections_url }}" class="w300">{{ 'cart.continue_shopping' | t }}</a></p>
  </article>
{%- endif -%}
<{{ section.settings.title_size }} style="margin-top: 0;">{{ 'cart.title' | t }}</{{ section.settings.title_size }}>
<form class="form-cart f8vl" data-hold="0" action="{{ routes.cart_url }}" method="post" data-totalqty={{ cart.item_count }}>
  <input type="hidden" name="attributes[collection_grid_view]" value="">
  <input type="hidden" name="attributes[collection_img_view]" value="">
  <input type="hidden" name="checkout" value="Checkout">
  <fieldset>
    <legend>{{ 'cart.title' | t }}</legend>
    <div class="cols aside b50">
      <article>
        <p class="m20"><a href="javascript:history.back()" class="strong"><i aria-hidden="true" class="icon-chevron-left"></i> {{ 'cart.continue_shopping' | t }}</a></p>
        {% if section.settings.enable_terms_checkbox and section.settings.terms_text != empty %}
          <p class="check mobile-only">
            <input type="checkbox" id="check_{{ section.id }}_mobile" aria-label="{{ section.settings.terms_text | strip_html | escape }}" data-bind="check_{{ section.id }}" required>
            <label for="check_{{ section.id }}_mobile">{{ section.settings.terms_text | remove: '</p>' | remove: '<p>' }}</label>
          </p>
        {% endif %}
        <p class="link-btn m10 cols submit mobile-only">
          <span>{% if cart.taxes_included %}{{ 'cart.total_including_tax' | t }}{% else %}{{ 'cart.total_excluding_tax' | t }}{% endif %}: <span class="strong">{{ cart.total_price | money }}</span></span>
          <button type="submit" class="
                {% if settings.checkout_button_color_palette == 'buy_button' %}overlay-tertiary
                {% elsif settings.checkout_button_color_palette == 'dynamic_buy_button' %}overlay-quaternary
                {% elsif settings.checkout_button_color_palette != 'regular_button' %}button-palette-{{ settings.checkout_button_color_palette }}{% endif %}
                {% if settings.button_style == 'inv' %} inv{% endif %}" name="checkout">
            <span class="processing">{{ 'cart.button_processing' | t }}</span>
            <span class="processed">{{ 'cart.button_proceed' | t }}</span>
            <span>{{ 'cart.checkout' | t }}</span>
          </button>
        </p>
        {%- if has_free_shipping_amount and cart.requires_shipping -%}
          <ul class="l4al inline">
            {%- if free_shipping_amount > cart.total_price -%}
            {%- assign amount = free_shipping_amount | minus: cart.total_price | money -%}
              <li class="overlay-rose">{{ 'cart.amount_to_free_shipping_long_html' | t: amount: amount }}</li>
            {%- else -%}
              <li class="overlay-lime">{{ 'cart.free_shipping_long_html' | t }}</li>
            {%- endif -%}
          </ul>
        {%- endif -%}
        <ul class="l4ca"{% if settings.enable_cart_drawer_undo_remove and settings.enable_cart_drawer_undo_remove_delay %} data-delay="{{ settings.cart_drawer_undo_remove_delay | times: 1000 }}"{% endif %}>
          {%- for line_item in cart.items -%}
            <li class="{% if settings.fill_product_images %} cover{% endif %}{% unless line_item.image %} no-image{% endunless %}{% if line_item.original_line_price > line_item.final_line_price %} has-discount{% endif %}">
              {%- if line_item.image -%}
                <figure{% if settings.multiply_product_images == 'multiply' %} class="img-multiply"{% elsif settings.multiply_product_images == 'multiply-bg' %} class="img-multiply-bg"{% endif %}>
                  <picture>
                    <img
                      {% if settings.fill_product_images %}
                        src="{{ line_item | image_url: width: image_width_2, height: image_height_2, crop: 'center' }}"
                        srcset="{{ line_item | image_url: width: image_width, height: image_height, crop: 'center' }} 1x,{{ line_item | image_url: width: image_width_2, height: image_height_2, crop: 'center' }} 2x"
                      {% else %}
                        src="{{ line_item | image_url: width: image_width_2 }}"
                        srcset="{{ line_item | image_url: width: image_width }} 1x,{{ line_item | image_url: width: image_width_2 }} 2x"
                      {% endif %}
                      width="105"
                      height="105"
                      alt="{{ line_item.image.alt | default: line_item.title | escape }}"
                      loading="lazy"
                    >
                  </picture>
                </figure>
              {%- endif -%}
              <section>
                <header>
                  <h2><a href="{{ line_item.url }}">{{ line_item.product.title }} </a></h2>
                  <p class="price mobile-only">
                    {%- if line_item.variant.compare_at_price > line_item.variant.price -%}<span class="old-price">{{ line_item.variant.compare_at_price | times: line_item.quantity | money }}</span>{%- endif -%}
                    {{ line_item.final_line_price | money }}
                  </p>
                </header>
                {%- if line_item.unit_price_measurement or line_item.options_with_values or line_item.selling_plan_allocation or line_item.properties -%}
                  <ul>
                    {% if line_item.unit_price_measurement %}
                      {%- capture unit_price_base_unit -%}
                        {%- if line_item.unit_price_measurement -%}
                          {%- if line_item.unit_price_measurement.reference_value != 1 -%}
                            {{- line_item.unit_price_measurement.reference_value -}}
                          {%- endif -%}
                          {{ line_item.unit_price_measurement.reference_unit }}
                        {%- endif -%}
                      {%- endcapture -%}
                      <li>{{ 'product.unit_price_label' | t }}&nbsp;{{ line_item.unit_price | money }}&nbsp;{{ 'product.unit_price_separator' | t }} {{ unit_price_base_unit }}</li>
                    {% endif %}
                    {%- unless line_item.product.has_only_default_variant -%}
                      {%- for option in line_item.options_with_values -%}
                        <li>{{ option.value }}</li>
                      {%- endfor -%}
                    {% endunless -%}
                    {%- if line_item.selling_plan_allocation -%}
                      <li>{{ line_item.selling_plan_allocation.selling_plan.name }}</li>
                    {%- endif -%}
                    {%- for property in line_item.properties -%}
                      {%- if property.first.first == '_' or property.last == blank -%}{%- continue -%}{%- endif -%}
                      <li>
                        {{ property.first }}:&nbsp;{% if property.last contains '/uploads/' %}<a href="{{ property.last }}">{{ property.last | split: '/' | last }}</a>{% else %}{{ property.last }}{% endif %}
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}
                {%- render 'product-deliverytime',
                  product: line_item.product,
                  current_variant: line_item.variant,
                  container: "p"
                -%}
                {%- for discount_allocation in line_item.line_level_discount_allocations -%}
                  <p class="overlay-gray"><i aria-hidden="true" class="icon-label"></i> <span class="text-uppercase">{{ discount_allocation.discount_application.title }}&nbsp;(-{{ discount_allocation.amount | money }})</p>
                {%- endfor -%}
              </section>
              <p class="price mobile-hide">
                {%- if line_item.variant.compare_at_price > line_item.variant.price -%}<span class="old-price">{{ line_item.variant.compare_at_price | times: line_item.quantity | money }}</span>{%- endif -%}
                {{ line_item.final_line_price | money }}
              </p>
              <footer>
                <p class="input-amount">
                  <label for="qty-{{ line_item.index | plus: 1 }}" class="hidden">{{ 'cart.product.qty' | t }}</label>
                  <input
                    type="number"
                    name="updates[]"
                    id="qty-{{ line_item.index | plus: 1 }}"
                    value="{{ line_item.quantity }}"
                    data-line="{{ forloop.index }}"
                    aria-label="quantity"
                    autocomplete="off"
                    min="{{ line_item.variant.quantity_rule.min }}"
                    {% if line_item.variant.inventory_management == 'shopify' and line_item.variant.inventory_policy == 'deny' -%}
                      max="{{ line_item.variant.inventory_quantity }}"
                    {% elsif line_item.variant.quantity_rule.max %}
                      max="{{ line_item.variant.quantity_rule.max }}"
                    {% endif %}
                    {% if line_item.variant.quantity_rule.increment %}step="{{ line_item.variant.quantity_rule.increment }}"{% endif %}
                  >
                </p>
                <p><a class="remove-from-cart-link" href="{{ line_item.url_to_remove }}" data-line="{{ forloop.index }}"><i aria-hidden="true" class="icon-trash"></i> <span class="hidden">{{ 'cart.product.remove' | t }}</span></a></p>
              </footer>
              {%- if settings.enable_cart_drawer_undo_remove -%}
                <p class="removed" style="width: 100%;">{{ 'cart.product.product_removed' | t: product_title: line_item.product.title }}&nbsp;
                  <a data-id="{{ line_item.id }}"
                     data-qty="{{ line_item.quantity }}"
                          {% if line_item.selling_plan_allocation %}
                            data-selling_plan="{{ line_item.selling_plan_allocation.selling_plan.id }}"
                          {% endif %}
                          {% for property in line_item.properties %}
                            {%- unless property.last == blank -%}
                              data-property-{{ forloop.index }}='{{ property | json }}'
                            {%- endunless -%}
                          {% endfor %}
                  >{{ 'cart.product.product_removed_undo' | t }}
                  </a>
                </p>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
        {%- if section.settings.show_order_notes and section.settings.order_notes_alignment == 'left' -%}
          <p class="input-show mobile-hide">
            <label for="note">{{ 'cart.add_note' | t }}</label>
            <textarea name="note" id="note_{{ section.id }}" placeholder="{{ 'cart.add_note_placeholder' | t }}"{% if section.settings.order_notes_alignment == 'left' %} data-bind="note_{{ section.id }}_mobile"{% endif %}></textarea>
          </p>
        {%- endif -%}
      </article>
      <aside>
        {%- if section.settings.enable_giftcard_or_discount_tab -%}
          <p class="input-show toggle">
            <label for="discount">{{ 'cart.giftcard_or_discount_code.title' | t }}</label>
            <span class="input-inline">
              <input type="text" id="discount" name="discount" placeholder="{{ 'cart.giftcard_or_discount_code.placeholder' | t }}">
              <button name="checkout"{% if settings.button_style == 'inv' %} class="inv"{% endif %}><i aria-hidden="true" class="icon-plus"></i> {{ 'cart.giftcard_or_discount_code.submit' | t }}</button>
            </span>
          </p>
        {%- endif -%}
        {%- if section.blocks.size > 0 -%}
          <ul class="l4ch">
            {%- for block in section.blocks -%}
              {%- if block.type == 'shipping_timer' and cart.requires_shipping -%}
                {%- render 'shipping-timer' -%}
              {%- else -%}
                {%- if block.settings.usp != empty -%}<li {{ block.shopify_attributes }}>{{ block.settings.usp | replace: '</p><p>', '<br>' | remove: '<p>' | remove: '</p>' }}</li>{%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          </ul>
          <hr>
        {%- endif -%}
        <ul class="l4tt m15">
          <li><span>{{ 'cart.total_products' | t }} ({{ cart.item_count }})</span> {{ cart.items_subtotal_price | money }}</li>
          {%- if cart.cart_level_discount_applications.size > 0 -%}
            {%- for discount in cart.cart_level_discount_applications -%}
              <li class="overlay-gray"><span class="text-uppercase"><i aria-hidden="true" class="icon-label"></i> {{ discount.title }}</span> (-{{ discount.total_allocated_amount | money }})</li>
            {%- endfor -%}
          {%- endif -%}
          {%- if has_free_shipping_amount and cart.total_price > free_shipping_amount and cart.requires_shipping -%}
            <li class="strong overlay-lime">{{ 'cart.free_shipping' | t }}</li>
          {%- endif -%}
          <li class="strong mobile-hide">
            <span>{% if cart.taxes_included %}{{ 'cart.total_including_tax' | t }}{% else %}{{ 'cart.total_excluding_tax' | t }}{% endif %}</span>
            {{ cart.total_price | money }}
          </li>
        </ul>
        {% if section.settings.enable_terms_checkbox and section.settings.terms_text != empty %}
          <p class="check">
            <input type="checkbox" id="check_{{ section.id }}" aria-label="{{ section.settings.terms_text | strip_html | escape }}" data-bind="check_{{ section.id }}_mobile" required>
            <label for="check_{{ section.id }}">{{ section.settings.terms_text | remove: '</p>' | remove: '<p>' }}</label>
          </p>
        {% endif %}
        <p class="link-btn wide cols m10 submit">
          <span class="mobile-only">{% if cart.taxes_included %}{{ 'cart.total_including_tax' | t }}{% else %}{{ 'cart.total_excluding_tax' | t }}{% endif %}: <span class="strong">{{ cart.total_price | money }}</span></span>
          <button type="submit" class="
                {% if settings.checkout_button_color_palette == 'buy_button' %}overlay-tertiary
                {% elsif settings.checkout_button_color_palette == 'dynamic_buy_button' %}overlay-quaternary
                {% elsif settings.checkout_button_color_palette != 'regular_button' %}button-palette-{{ settings.checkout_button_color_palette }}{% endif %}
                {% if settings.button_style == 'inv' %} inv{% endif %}" name="checkout">
            <span class="processing">{{ 'cart.button_processing' | t }}</span>
            <span class="processed">{{ 'cart.button_proceed' | t }}</span>
            <span>{{ 'cart.checkout' | t }}</span>
          </button>
        </p>
        {%- if section.settings.show_dynamic_buybutton and additional_checkout_buttons -%}
          <div class="m20 overlay-quaternary {{ settings.button_height }} {{ settings.button_style }}">
            {{ content_for_additional_checkout_buttons }}
          </div>
        {%- endif -%}
        {%- if settings.show_trustbadge -%}
          {%- render 'trustbadge' -%}
        {%- endif -%}
        {%- if section.settings.show_payment_methods -%}
          <ul class="l4pm text-center">
            {% for payment_method in shop.enabled_payment_types %}
              <li>{{ payment_method | payment_type_svg_tag }}</li>
            {% endfor %}
          </ul>
        {%- endif -%}
        {%- if section.settings.show_order_notes -%}
          <p class="input-show{% if section.settings.order_notes_alignment == 'left' %} mobile-only{% endif %}">
            <label for="note">{{ 'cart.add_note' | t }}</label>
            <textarea name="note" id="note_{{ section.id }}_mobile" placeholder="{{ 'cart.add_note_placeholder' | t }}"{% if section.settings.order_notes_alignment == 'left' %} data-bind="note_{{ section.id }}"{% endif %}></textarea>
          </p>
        {%- endif -%}
      </aside>
    </div>
  </fieldset>
</form>

<style>
  .cart-empty:not(.hidden) ~ * { display: none; }
</style>

{% schema %}
{
  "name": "t:main.cart.name",
  "settings": [
    {
      "id": "title_size",
      "type": "select",
      "label": "t:main.cart.settings.title_size.label",
      "options": [
        {
          "value": "h5",
          "label": "t:main.cart.settings.title_size.options__1.label"
        },
        {
          "value": "h4",
          "label": "t:main.cart.settings.title_size.options__2.label"
        },
        {
          "value": "h3",
          "label": "t:main.cart.settings.title_size.options__3.label"
        },
        {
          "value": "h2",
          "label": "t:main.cart.settings.title_size.options__4.label"
        },
        {
          "value": "h1",
          "label": "t:main.cart.settings.title_size.options__5.label"
        }
      ],
      "default": "h2"
    },
    {
      "id": "show_dynamic_buybutton",
      "type": "checkbox",
      "label": "t:main.cart.settings.show_dynamic_buybutton.label",
      "info": "t:main.cart.settings.show_dynamic_buybutton.info",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_giftcard_or_discount_tab",
      "label": "t:main.cart.settings.enable_giftcard_or_discount_tab.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_payment_methods",
      "label": "t:main.cart.settings.show_payment_methods.label",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_order_notes",
      "label": "t:main.cart.settings.show_order_notes.label",
      "default": true
    },
    {
      "type": "select",
      "id": "order_notes_alignment",
      "label": "t:main.cart.settings.order_notes_alignment.label",
      "options": [
        {
          "value": "left",
          "label": "t:main.cart.settings.order_notes_alignment.options__1.label"
        },
        {
          "value": "right",
          "label": "t:main.cart.settings.order_notes_alignment.options__2.label"
        }
      ],
      "default": "right"
    },
    {
      "type": "header",
      "content": "t:main.cart.settings.checkbox.header"
    },
    {
      "id": "enable_terms_checkbox",
      "type": "checkbox",
      "label": "t:main.cart.settings.checkbox.enable_terms_checkbox.label"
    },
    {
      "id": "terms_text",
      "type": "richtext",
      "label": "t:main.cart.settings.checkbox.terms_text.label",
      "info": "t:main.cart.settings.checkbox.terms_text.info",
      "default": "<p>I accept the <a href='/policies/privacy-policy' title='Privacy Policy'>privacy policy</a>"
    }
  ],
  "blocks": [
    {
      "type": "usp",
      "name": "t:main.cart.blocks.usp.name",
      "settings": [
        {
          "id": "usp",
          "type": "richtext",
          "label": "t:main.cart.blocks.usp.settings.usp.label",
          "default": "<p>Give your customers more details.</p>"
        }
      ]
    },
    {
      "type": "shipping_timer",
      "name": "t:main.cart.blocks.shipping_timer.name",
      "settings": [
        {
          "type": "paragraph",
          "content": "t:main.cart.blocks.shipping_timer.settings.paragraph"
        }
      ]
    }
  ]
}
{% endschema %}
