
<div class="{% if section.settings.text_alignment == 'center' %}text-center{% endif %}{% if section.settings.content_alignment == 'center' %} align-center{% endif %}"
     {% unless settings.width < 2000 and section.settings.max_width == 1280 %}style="max-width: {{ section.settings.max_width }}px;"{% endunless %}
>
  {%- for block in section.blocks -%}
    {%- case block.type -%}
      {%- when 'title' -%}
        <header>
          <{{ block.settings.title_size }} class="m20" {{ block.shopify_attributes }}>{{ page.title }}</{{ block.settings.title_size }}>
        </header>
      {%- when 'content' -%}
        <div {{ block.shopify_attributes }}>
          {{ page.content }}
        </div>
      {%- when 'spacer' -%}
        <div class="module-spacer" style="margin-bottom:{{ block.settings.height }}px;" {{ block.shopify_attributes }}></div>
    {%- endcase -%}
  {%- endfor -%}
</div>

<style>
  @media only screen and (min-width: 47.5em) {
    #shopify-section-{{ section.id }} > div { margin-bottom: {{ section.settings.spacing_desktop }}px; }
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} { position: relative; z-index: 5; }
      #shopify-section-{{ section.id }} + * { position: relative; z-index: 6; } #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} > div { margin-bottom: {{ section.settings.spacing_mobile }}px; }
    {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} { position: relative; z-index: 5; }
      #shopify-section-{{ section.id }} + * { position: relative; z-index: 6; } #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:main.page.name",
  "settings": [
    {
      "id": "max_width",
      "type": "range",
      "label": "t:main.page.settings.max_width.label",
      "info": "t:main.page.settings.max_width.info",
      "min": 400,
      "max": 1280,
      "step": 20,
      "unit": "px",
      "default": 980
    },
    {
      "type": "select",
      "id": "content_alignment",
      "label": "t:main.page.settings.content_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:main.page.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:main.page.settings.content_alignment.options__2.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:main.page.settings.text_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:main.page.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:main.page.settings.text_alignment.options__2.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "t:main.page.blocks.title.name",
      "limit": 1,
      "settings": [
        {
          "type": "select",
          "id": "title_size",
          "label": "t:main.page.blocks.title.settings.title_size.label",
          "options": [
            {
              "value": "h4",
              "label": "t:main.page.blocks.title.settings.title_size.options__1.label"
            },
            {
              "value": "h3",
              "label": "t:main.page.blocks.title.settings.title_size.options__2.label"
            },
            {
              "value": "h2",
              "label": "t:main.page.blocks.title.settings.title_size.options__3.label"
            },
            {
              "value": "h1",
              "label": "t:main.page.blocks.title.settings.title_size.options__4.label"
            }
          ],
          "default": "h2"
        }
      ]
    },
    {
      "type": "content",
      "name": "t:main.page.blocks.content.name",
      "limit": 1
    },
    {
      "type": "spacer",
      "name": "t:main.page.blocks.spacer.name",
      "settings": [
        {
          "id": "height",
          "type": "range",
          "label": "t:main.page.blocks.spacer.settings.height.label",
          "min": -100,
          "max": 200,
          "step": 5,
          "unit": "px",
          "default": 35
        }
      ]
    }
  ]
}
{% endschema %}
