{%- liquid
  capture title_classes
    echo 'w900'
    if section.settings.text_alignment == 'center'
      echo ' text-center align-center'
    endif
  endcapture
-%}

<div class="m6tb static">
  <nav class="hidden">
    <ul>
      <li class="active"><a href="#section-related">{{ section.settings.title }}</a></li>
    </ul>
  </nav>
  <div>
    <div id="section-related" {% if recommendations.products_count == 0 %}data-hide{% endif %} class="product-recommendations{% if section.settings.mobile_collapse %} tab-closed{% endif %}" data-template="{{ section.id }}" data-product-id="{{ product.id }}" data-limit="{{ section.settings.recommended_products_qty }}" data-intent="related">
      <article>
        {%- if recommendations.products_count > 0 -%}
          {%- liquid
             assign product_count = recommendations.products_count
             assign limit = product_count | at_most: section.settings.number_of_items
             case limit
               when 0
                 assign width_class = 'w20'
               when 2
                 assign width_class = 'w50'
               when 3
                 assign width_class = 'w33'
               when 4
                 assign width_class = 'w25'
             endcase
          -%}
          <header class="cols">
            <div>
              {%- if section.settings.title != blank -%}
                <{{ section.settings.title_size }} class="mobile-hide {{ title_classes }} ff-{{ section.settings.title_font }} {% if section.settings.enable_custom_text_styling %}text-palette-{{ section.settings.title_color_palette }} fw-{{ section.settings.title_weight }}{% endif %}{% if section.settings.subtitle != blank %} m0{% endif %}">{{ section.settings.title }}</{{ section.settings.title_size }}>
              {%- endif -%}
              {%- if section.settings.subtitle != blank -%}
                <{{ section.settings.subtitle_size }} class="mobile-hide {{ title_classes }} ff-{{ section.settings.subtitle_font }} {% if section.settings.enable_custom_subtext_styling %}text-palette-{{ section.settings.subtitle_color_palette }} fw-{{ section.settings.subtitle_weight }}{% endif %}">{{ section.settings.subtitle }}</{{ section.settings.subtitle_size }}>
              {%- endif -%}
            </div>
          </header>
          <ul class="l4cl slider {{ width_class }}">
            {%- liquid
              for product in recommendations.products
                capture placeholder_int
                  cycle 1, 2, 3, 4, 5, 6
                endcapture
                render 'product-item', product: product, placeholder_int: placeholder_int
              endfor
            -%}
          </ul>
      {%- endif -%}
      </article>
    </div>
  </div>
</div>

<style>
  @media only screen and (min-width: 47.5em) {
    #shopify-section-{{ section.id }} .l4cl { margin-bottom: {{ section.settings.spacing_desktop | minus: 22 }}px; }
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} { position: relative; z-index: 5; }
      #shopify-section-{{ section.id }} + * { position: relative; z-index: 6; } #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} { margin-bottom: {{ section.settings.spacing_mobile | minus: -26 }}px; }
    {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} { position: relative; z-index: 5; }
      #shopify-section-{{ section.id }} + * { position: relative; z-index: 6; } #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:static_sections.product_recommendations.name",
  "class": "with-mobile-tab hidden",
  "settings": [
    {
      "type": "paragraph",
      "content": "t:static_sections.product_recommendations.settings.paragraph"
    },
    {
      "type": "range",
      "id": "recommended_products_qty",
      "label": "t:static_sections.product_recommendations.settings.recommended_products_qty.label",
      "min": 1,
      "max": 10,
      "step": 1,
      "default": 4
    },
    {
      "type": "range",
      "id": "number_of_items",
      "label": "t:static_sections.product_recommendations.settings.number_of_items.label",
      "min": 2,
      "max": 4,
      "step": 1,
      "default": 4
    },
    {
      "type": "select",
      "id": "text_alignment",
      "label": "t:static_sections.product_recommendations.settings.text_alignment.label",
      "options": [
        {
          "value": "start",
          "label": "t:static_sections.product_recommendations.settings.text_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:static_sections.product_recommendations.settings.text_alignment.options__2.label"
        }
      ],
      "default": "start"
    },
    {
      "type": "header",
      "content": "t:global.typography.first_heading.header"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.typography.primary_title.label",
      "default": "You may also like"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "t:global.typography.primary_title_font.label",
      "options": [
        {
          "value": "primary",
          "label": "t:global.typography.font.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:global.typography.font.secondary.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:global.typography.primary_title_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:global.typography.title_size.h4.label"
        },
        {
          "value": "h3",
          "label": "t:global.typography.title_size.h3.label"
        },
        {
          "value": "h2",
          "label": "t:global.typography.title_size.h2.label"
        },
        {
          "value": "h1",
          "label": "t:global.typography.title_size.h1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_text_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.info"
    },
    {
      "type": "select",
      "id": "title_color_palette",
      "label": "t:global.typography.primary_title_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.typography.color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.typography.color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.typography.color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.typography.color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.typography.color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.typography.color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.typography.color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.typography.color_palette.dark_gradient.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "title_weight",
      "label": "t:global.typography.primary_title_weight.label",
      "options": [
        {
          "value": "100",
          "label": "t:global.typography.font_weight.100.label"
        },
        {
          "value": "200",
          "label": "t:global.typography.font_weight.200.label"
        },
        {
          "value": "300",
          "label": "t:global.typography.font_weight.300.label"
        },
        {
          "value": "400",
          "label": "t:global.typography.font_weight.400.label"
        },
        {
          "value": "500",
          "label": "t:global.typography.font_weight.500.label"
        },
        {
          "value": "600",
          "label": "t:global.typography.font_weight.600.label"
        },
        {
          "value": "700",
          "label": "t:global.typography.font_weight.700.label"
        },
        {
          "value": "800",
          "label": "t:global.typography.font_weight.800.label"
        },
        {
          "value": "900",
          "label": "t:global.typography.font_weight.900.label"
        }
      ],
      "default": "700"
    },
    {
      "type": "header",
      "content": "t:global.typography.second_heading.header"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "t:global.typography.subtitle.label"
    },
    {
      "type": "select",
      "id": "subtitle_font",
      "label": "t:global.typography.subtitle_font.label",
      "options": [
        {
          "value": "primary",
          "label": "t:global.typography.font.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:global.typography.font.secondary.label"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "t:global.typography.subtitle_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:global.typography.title_size.h4.label"
        },
        {
          "value": "h3",
          "label": "t:global.typography.title_size.h3.label"
        },
        {
          "value": "h2",
          "label": "t:global.typography.title_size.h2.label"
        },
        {
          "value": "h1",
          "label": "t:global.typography.title_size.h1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_subtext_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.second_info"
    },
    {
      "type": "select",
      "id": "subtitle_color_palette",
      "label": "t:global.typography.subtitle_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.typography.title_color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.typography.title_color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.typography.title_color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.typography.title_color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.typography.title_color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.typography.title_color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.typography.title_color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.typography.title_color_palette.dark_gradient.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "subtitle_weight",
      "label": "t:global.typography.subtitle_weight.label",
      "options": [
        {
          "value": "100",
          "label": "t:global.typography.font_weight.100.label"
        },
        {
          "value": "200",
          "label": "t:global.typography.font_weight.200.label"
        },
        {
          "value": "300",
          "label": "t:global.typography.font_weight.300.label"
        },
        {
          "value": "400",
          "label": "t:global.typography.font_weight.400.label"
        },
        {
          "value": "500",
          "label": "t:global.typography.font_weight.500.label"
        },
        {
          "value": "600",
          "label": "t:global.typography.font_weight.600.label"
        },
        {
          "value": "700",
          "label": "t:global.typography.font_weight.700.label"
        },
        {
          "value": "800",
          "label": "t:global.typography.font_weight.800.label"
        },
        {
          "value": "900",
          "label": "t:global.typography.font_weight.900.label"
        }
      ],
      "default": "400"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:static_sections.product_recommendations.settings.mobile.header"
    },
    {
      "id": "mobile_collapse",
      "type": "checkbox",
      "label": "t:static_sections.product_recommendations.settings.mobile.mobile_collapse.label",
      "default": false
    }
  ]
}
{% endschema %}
