{% style %}

    .section-rolex .color-\[\#fff\] {
        color :white!important;
    }

    .section-rolex .place-items-center h3 {
        font-size : 30px;
        color : white;
    }

    .section-rolex .place-items-center em {
        color : #c1a57e;
        font-style: normal; 
    }

    .section-rolex {
        width : calc(100% + 60px)!important;
        margin-left : -30px!important;
        padding-left : 30px;
        padding-right : 30px;
    }

    .section-rolex h1, .section-rolex h2, .section-rolex h3, .section-rolex h4, .section-rolex h5, .section-rolex h6 {
        text-transform : none!important;
    }

    @media (max-width : 1300px) {
        .section-rolex {
            width : calc(100% + 40px);
            margin-left : -20px;
        }
    }

    @media (max-width : 999px) {
        .section-rolex {
            width : calc(100% + 32px);
            margin-left : -16px;
        }
    }

  .section-rolex .right-0.top-0 {
    max-height: 100%; /* Stellt sicher, dass die Höhe des Bildes nicht die des Containers überschreitet */
    overflow: hidden; /* Versteckt alles, was über den Container hinausgeht */
}

{% endstyle %}

<div class="relative bg-black p-5 pt-44 text-white section-rolex">
    {% if section.settings.background-image != blank %}
    <div class="absolute right-0 top-0 h-full w-2/3 overflow-hidden">
        <img loading="lazy" src="{{ section.settings.background-image | img_url: '800x' }}" title="Rolex_Datejust_used" alt="Rolex_Datejust_used" class="max-h-full w-full object-cover opacity-50" />
        <div class="absolute inset-0 bg-gradient-to-t from-black via-transparent to-black"></div>
        <div class="absolute inset-0 bg-gradient-to-r from-black via-transparent to-black"></div>
    </div>
    {% endif %}

    <div class="relative">
        <h1 class="font-serif text-4xl md:text-5xl color-[#fff]">{{ section.settings.heading-text }}</h1>
        <!-- Button with updated margin values for top and bottom spacing -->
        <a href="{{ section.settings.button-url }}" class="mt-10 mb-10 rounded-full bg-[#c1a57e] px-5 py-3 font-serif text-lg text-white" style="text-decoration: none; display: inline-block;">{{ section.settings.button-text }}</a>
    </div>
    <div class="relative grid md:grid-cols-2 color-[#fff] w-full">
        <div class='color-[#fff]'>
            {{ section.settings.content-text }}
        </div>
        <div class="grid place-items-center py-20 text-center font-serif text-3xl">
            <h3 class="max-w-sm">
                {{ section.settings.contact-info }}
            </h3>
        </div>
    </div>
</div>
  
  
  {% schema %}
    {
      "name": "Codext-Content",
      "settings": [
        {
            "type": "image_picker",
            "id" : "background-image",
            "label" : "Background Image"
        },
        {
            "type" : "text",
            "id" : "heading-text",
            "label" : "Heading"
        },
        {
            "type" : "richtext",
            "id" : "content-text",
            "label" : "Content"
        },
        {
    "type": "url",
    "id": "button-url",
    "label": "Button Link"
        },
        {
            "type" : "text",
            "id" : "button-text",
            "label" : "Button Text"
        },
        {
            "type" : "richtext",
            "id" : "contact-info",
            "label" : "Contact Info"
        }
        
      ],
  "presets": [
    {
      "name": "Codext-Content"
    }
  ]
}

  {% endschema %}