<div class="
  m6fr
  {% unless section.settings.enable_custom_height %}size-{{ section.settings.height }}{% endunless %}
  size-{{ section.settings.height_mobile }}-mobile
  {% if section.settings.width == 'wide' %}wide{% else %}boxed{% endif %}
">
    <article class="palette-{{ section.settings.color_palette }} module-color-palette p0
  "></article>
</div>

<style>
    #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
    #shopify-section-{{ section.id }} .module-color-palette:before { opacity: {{ section.settings.overlay_opacity | divided_by: 100.0 }}; }
    @media only screen and (min-width: 47.5em) {
        #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_desktop }}px; }
    {% if section.settings.enable_custom_height %}
        #shopify-section-{{ section.id }} article { --mih: {{ section.settings.custom_height }}px; }
    {% endif %}
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
    }
    @media only screen and (max-width: 47.5em) {
        #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_mobile }}px; }
    {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
    }
</style>

{% schema %}
{
  "name": "t:sections.background.name",
  "disabled_on": {
    "groups": [
      "header"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "color_palette",
      "label": "t:global.color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.color_palette.dark_gradient.label"
        }
      ],
      "default": "accent"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.background.settings.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 100
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.background.settings.height.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.background.settings.height.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.background.settings.height.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.background.settings.height.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.background.settings.height.options__4.label"
        }
      ],
      "default": "xs"
    },
    {
      "id": "enable_custom_height",
      "type": "checkbox",
      "label": "t:sections.banner_columns.settings.enable_custom_height.label"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:sections.slideshow.settings.custom_height.label",
      "info": "t:sections.slideshow.settings.custom_height.info",
      "min": 20,
      "max": 2000,
      "step": 20,
      "unit": "px",
      "default": 300
    },
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.background.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.background.settings.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.background.settings.width.options__2.label"
        }
      ],
      "default": "wide"
    },
    {
      "type": "header",
      "content": "t:sections.background.settings.mobile.header"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:sections.background.settings.mobile.height_mobile.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.background.settings.mobile.height_mobile.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.background.settings.mobile.height_mobile.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.background.settings.mobile.height_mobile.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.background.settings.mobile.height_mobile.options__4.label"
        }
      ],
      "default": "xs"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "presets": [
    {
      "name": "t:sections.background.presets.name"
    }
  ]
}
{% endschema %}