{% comment %}theme-check-disable ImgLazyLoading{% endcomment %}
{% if section.blocks.size > 0 %}
  <div class="
    m6fr
    mobile-text-center
    {{ section.settings.width }}
    size-{{ section.settings.height }}
    size-{{ section.settings.height_mobile }}-mobile
    "
  >
    <article class="{{ section.settings.text_position }}" {% if section.settings.enable_custom_font_styling %}style="font-size:{{ section.settings.font_size }};"{% endif %}>
      {% if section.blocks.size < 1 %}<span class="img-overlay" style="opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }}"></span>{% endif %}
      <figure class="palette-{{ section.settings.color_palette }} module-color-palette">
        {%- for block in section.blocks -%}
          {%- liquid
            capture current
              cycle 1, 2
            endcapture
            assign img_width = 500

            assign width_block = '100%'
            if current == '1'
              assign banner_width = section.settings.first_image_width
            else
              assign banner_width = section.settings.first_image_width | minus: 100 | times: -1
            endif
            if section.settings.width == 'wide'
              if section.blocks.size < 2
                assign width_block = 'auto'
              else
                assign width_block = 'calc(' | append: banner_width | append: '% + var(--rpp))'
              endif
            else
              if section.blocks.size < 2
                assign width_block = '100%'
              else
                assign width_block = banner_width | append: '%'
              endif
            endif
            assign lazyload = true
            if section.index == 1
              if section.blocks.size < 2
                assign lazyload = false
              elsif forloop.first and section.settings.first_image_width >= 50
                assign lazyload = false
              elsif forloop.last and section.settings.first_image_width < 50
                assign lazyload = false
              endif
            endif
          -%}

          {% if block.settings.image == blank and block.settings.video == blank %}
            <picture {{ block.shopify_attributes }} style="--size: {{ width_block }};" {{ block.shopify_attributes }}>
              <span class="img-overlay" style="opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }}"></span>
              {{ 'lifestyle-' | append: 1 | placeholder_svg_tag: 'placeholder-svg' }}
            </picture>
          {% else %}
            <picture style="--size: {{ width_block }};" {{ block.shopify_attributes }}>
              <span class="img-overlay" style="opacity:{{ section.settings.overlay_opacity | divided_by: 100.0 }}"></span>
              {% if block.settings.video %}
                {%- liquid
                  assign source = block.settings.video.sources | where: "height", 1080 | where: "format", "mp4" | first
                  if source == nil
                    assign source = block.settings.video.sources | where: "format", "mp4" | first
                  endif
                  if source == nil
                    assign source = block.settings.video.sources | where: "format", "mov" | first
                  endif
                  if source == nil
                    assign source = block.settings.video.sources.first
                  endif
                -%}
                <video class="lazy" autoplay muted loop playsinline poster="{{ block.settings.video.preview_image | image_url }}">
                  <source data-src="{{ source.url }}" type="video/mp4">
                </video>
              {% else %}
                {% if block.settings.image_mobile %}
                  <img
                    src="{{ block.settings.image_mobile | image_url: width: 700 }}"
                    srcset="{% render 'image-srcset', image: block.settings.image_mobile %}"
                    sizes="
                      (min-width: 761px) 0, 100vw
                    "
                    width="700"
                    height="530"
                    alt="{{ block.settings.image_mobile.alt | default: block.settings.title | escape }}"
                    style="object-position: {{ block.settings.image.presentation.focal_point }}"
                    class="mobile-only"
                    loading="{% if section.index > 1 or forloop.first == false %}lazy{% else %}eager{% endif %}"
                  >
                {% endif %}
                <img
                  src="{{ block.settings.image | image_url: width: 700 }}"
                  srcset="{% render 'image-srcset', image: block.settings.image %}"
                  sizes="
                   {% if section.settings.width == 'boxed' or settings.width < 2000 %}
                    (min-width: 1300px) {% if img_width == 100 %}{{ settings.width }}px{% else %}calc({{ settings.width }}px * 0.{{ img_width }}){%- endif -%},
                   {% endif %}
                    (min-width: 761px) {% if img_width == 100 %}100vw{% else %}calc(100vw * 0.{{ img_width }}){%- endif -%},
                    {% if block.settings.image_mobile %}0{% else %}100vw{% endif %}
                  "
                  width="700"
                  height="530"
                  alt="{{ block.settings.image.alt | default: block.settings.title | escape }}"
                  style="object-position: {{ block.settings.image.presentation.focal_point }}"
                  {% if block.settings.image_mobile %}class="mobile-hide"{% endif %}
                  loading="{% if lazyload %}lazy{% else %}eager{% endif %}"
                >
              {% endif %}
            </picture>
          {% endif %}
        {%- endfor -%}
        {%- if section.settings.show_look -%}
          <p class="link-btn visible text-{{ section.settings.look_position }} button-palette-{{ section.settings.look_btn_color_palette }}">
            <a href="./" aria-haspopup="true" aria-label="shop the look" data-products='[{% for product in section.settings.product_list %}"{{ product.url }}"{% unless forloop.last %},{% endunless %}{% endfor %}]' aria-controls="add-products-to-banner"  data-shopthelook style="--size: 45px;" class="circle {% if settings.buy_button_style == 'inv' %}inv{% endif %}"><i aria-hidden="true" class="icon-cart-bag-rounded"></i> <span class="hidden">Add to cart</span></a>
          </p>
        {%- endif -%}
      </figure>
      <span class="palette-{{ section.settings.color_palette }} module-color-palette">
        {%- if section.settings.title != blank -%}<{{ section.settings.title_size }} class="{% if section.settings.enable_custom_text_styling %}text-palette-{{ section.settings.title_color_palette }} fw-{{ section.settings.title_weight }} {% endif %}ff-{{ section.settings.title_font }}{% if section.settings.subtitle != blank %} m0{% endif %}">{{ section.settings.title }}</{{ section.settings.title_size }}>{%- endif -%}
        {%- if section.settings.subtitle != blank -%}<{{ section.settings.subtitle_size }} class="{% if section.settings.enable_custom_subtext_styling %}text-palette-{{ section.settings.subtitle_color_palette }} fw-{{ section.settings.subtitle_weight }} {% endif %}ff-{{ section.settings.subtitle_font }}">{{ section.settings.subtitle }}</{{ section.settings.subtitle_size }}>{% endif %}
        {%- if section.settings.text -%}{{ section.settings.text }}{%- endif -%}
        {%- if section.settings.link_text != empty and section.settings.link_url != blank -%}
          <p class="link{% unless section.settings.show_link %}-btn{% endunless %} button-palette-{{ section.settings.button_color_palette }}">
            <a href="{{ section.settings.link_url }}" class="{% if section.settings.show_link %}strong{% elsif settings.button_style == 'inv' %}inv{% endif %}">{{ section.settings.link_text }}{% if section.settings.show_link %}&nbsp;<i aria-hidden="true" class="icon-chevron-right"></i>{% endif %}</a>
          </p>
        {%- endif -%}
      </span>
      {%- if settings.banners_clickable and section.settings.link_url != blank -%}
        <a class="link-overlay" href="{{ section.settings.link_url }}" aria-label="{{ section.settings.title | escape | default: "Multiple images with text" }}"></a>
      {%- endif -%}
    </article>
  </div>
{% endif %}

<style>
  #shopify-section-{{ section.id }} { z-index: {{ section.settings.fix_zindex }}!important; }
  @media only screen and (min-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_desktop }}px; }
    {% if section.settings.enable_custom_height %}
      #shopify-section-{{ section.id }} article { --mih: {{ section.settings.custom_height }}px; }
    {% endif %}
    {% if section.settings.spacing_desktop < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
    {% endif %}
  }
  @media only screen and (max-width: 47.5em) {
    #shopify-section-{{ section.id }} .m6fr > article { margin-bottom: 0; }
    #shopify-section-{{ section.id }} .m6fr { margin-bottom: {{ section.settings.spacing_mobile }}px; }
  {% if section.settings.spacing_mobile < 0 %}
      #shopify-section-{{ section.id }} + *.has-kinetic-text { pointer-events: none; }
  {% endif %}
  }
</style>

{% schema %}
{
  "name": "t:sections.two_images_with_text.name",
  "max_blocks": 2,
  "disabled_on": {
    "groups": [
      "header",
      "footer"
    ]
  },
  "settings": [
    {
      "type": "select",
      "id": "width",
      "label": "t:sections.two_images_with_text.settings.width.label",
      "options": [
        {
          "value": "boxed",
          "label": "t:sections.two_images_with_text.settings.width.options__1.label"
        },
        {
          "value": "wide",
          "label": "t:sections.two_images_with_text.settings.width.options__2.label"
        }
      ],
      "default": "boxed"
    },
    {
      "type": "range",
      "id": "first_image_width",
      "label": "t:sections.two_images_with_text.settings.first_image_width.label",
      "min": 20,
      "max": 80,
      "step": 5,
      "unit": "%",
      "default": 65
    },
    {
      "type": "select",
      "id": "height",
      "label": "t:sections.two_images_with_text.settings.height.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.two_images_with_text.settings.height.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.two_images_with_text.settings.height.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.two_images_with_text.settings.height.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.two_images_with_text.settings.height.options__4.label"
        }
      ],
      "default": "l"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_height",
      "label": "t:sections.two_images_with_text.settings.enable_custom_height.label"
    },
    {
      "type": "range",
      "id": "custom_height",
      "label": "t:sections.two_images_with_text.settings.custom_height.label",
      "info": "t:sections.two_images_with_text.settings.custom_height.info",
      "min": 250,
      "max": 1000,
      "step": 10,
      "unit": "px",
      "default": 300
    },
    {
      "id": "image_zoom",
      "type": "checkbox",
      "label": "t:sections.two_images_with_text.settings.image_zoom.label",
      "default": true
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "label": "t:sections.two_images_with_text.settings.overlay_opacity.label",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "%",
      "default": 0
    },
    {
      "type": "select",
      "id": "color_palette",
      "label": "t:global.color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.color_palette.dark_gradient.label"
        }
      ],
      "default": "dark"
    },
    {
      "id": "text_position",
      "type": "select",
      "label": "t:global.typography.text_position.label",
      "options": [
        {
          "value": "align-top text-start",
          "label": "t:global.typography.text_position.top_left.label"
        },
        {
          "value": "align-top text-center",
          "label": "t:global.typography.text_position.top_center.label"
        },
        {
          "value": "align-top text-end",
          "label": "t:global.typography.text_position.top_right.label"
        },
        {
          "value": "text-start",
          "label": "t:global.typography.text_position.center_left.label"
        },
        {
          "value": "text-center",
          "label": "t:global.typography.text_position.center_center.label"
        },
        {
          "value": "text-end",
          "label": "t:global.typography.text_position.center_right.label"
        },
        {
          "value": "align-bottom text-start",
          "label": "t:global.typography.text_position.bottom_left.label"
        },
        {
          "value": "align-bottom text-center",
          "label": "t:global.typography.text_position.bottom_center.label"
        },
        {
          "value": "align-bottom text-end",
          "label": "t:global.typography.text_position.bottom_right.label"
        }
      ],
      "default": "text-center"
    },
    {
      "type": "header",
      "content": "t:global.typography.first_heading.header"
    },
    {
      "type": "inline_richtext",
      "id": "title",
      "label": "t:global.typography.primary_title.label",
      "default": "Image banner"
    },
    {
      "type": "select",
      "id": "title_font",
      "label": "t:global.typography.primary_title_font.label",
      "options": [
        {
          "value": "primary",
          "label": "t:global.typography.font.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:global.typography.font.secondary.label"
        }
      ],
      "default": "primary"
    },
    {
      "type": "select",
      "id": "title_size",
      "label": "t:global.typography.primary_title_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:global.typography.title_size.h4.label"
        },
        {
          "value": "h3",
          "label": "t:global.typography.title_size.h3.label"
        },
        {
          "value": "h2",
          "label": "t:global.typography.title_size.h2.label"
        },
        {
          "value": "h1",
          "label": "t:global.typography.title_size.h1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_text_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.info"
    },
    {
      "type": "select",
      "id": "title_color_palette",
      "label": "t:global.typography.primary_title_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.typography.color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.typography.color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.typography.color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.typography.color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.typography.color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.typography.color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.typography.color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.typography.color_palette.dark_gradient.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "title_weight",
      "label": "t:global.typography.primary_title_weight.label",
      "options": [
        {
          "value": "100",
          "label": "t:global.typography.font_weight.100.label"
        },
        {
          "value": "200",
          "label": "t:global.typography.font_weight.200.label"
        },
        {
          "value": "300",
          "label": "t:global.typography.font_weight.300.label"
        },
        {
          "value": "400",
          "label": "t:global.typography.font_weight.400.label"
        },
        {
          "value": "500",
          "label": "t:global.typography.font_weight.500.label"
        },
        {
          "value": "600",
          "label": "t:global.typography.font_weight.600.label"
        },
        {
          "value": "700",
          "label": "t:global.typography.font_weight.700.label"
        },
        {
          "value": "800",
          "label": "t:global.typography.font_weight.800.label"
        },
        {
          "value": "900",
          "label": "t:global.typography.font_weight.900.label"
        }
      ],
      "default": "700"
    },
    {
      "type": "header",
      "content": "t:global.typography.second_heading.header"
    },
    {
      "type": "inline_richtext",
      "id": "subtitle",
      "label": "t:global.typography.subtitle.label"
    },
    {
      "type": "select",
      "id": "subtitle_font",
      "label": "t:global.typography.subtitle_font.label",
      "options": [
        {
          "value": "primary",
          "label": "t:global.typography.font.primary.label"
        },
        {
          "value": "secondary",
          "label": "t:global.typography.font.secondary.label"
        }
      ],
      "default": "secondary"
    },
    {
      "type": "select",
      "id": "subtitle_size",
      "label": "t:global.typography.subtitle_size.label",
      "options": [
        {
          "value": "h4",
          "label": "t:global.typography.title_size.h4.label"
        },
        {
          "value": "h3",
          "label": "t:global.typography.title_size.h3.label"
        },
        {
          "value": "h2",
          "label": "t:global.typography.title_size.h2.label"
        },
        {
          "value": "h1",
          "label": "t:global.typography.title_size.h1.label"
        }
      ],
      "default": "h2"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_subtext_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.second_info"
    },
    {
      "type": "select",
      "id": "subtitle_color_palette",
      "label": "t:global.typography.subtitle_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.typography.title_color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.typography.title_color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.typography.title_color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.typography.title_color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.typography.title_color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.typography.title_color_palette.light_2.label"
        },
        {
          "value": "light_gradient",
          "label": "t:global.typography.title_color_palette.light_gradient.label"
        },
        {
          "value": "dark_gradient",
          "label": "t:global.typography.title_color_palette.dark_gradient.label"
        }
      ],
      "default": "black"
    },
    {
      "type": "select",
      "id": "subtitle_weight",
      "label": "t:global.typography.subtitle_weight.label",
      "options": [
        {
          "value": "100",
          "label": "t:global.typography.font_weight.100.label"
        },
        {
          "value": "200",
          "label": "t:global.typography.font_weight.200.label"
        },
        {
          "value": "300",
          "label": "t:global.typography.font_weight.300.label"
        },
        {
          "value": "400",
          "label": "t:global.typography.font_weight.400.label"
        },
        {
          "value": "500",
          "label": "t:global.typography.font_weight.500.label"
        },
        {
          "value": "600",
          "label": "t:global.typography.font_weight.600.label"
        },
        {
          "value": "700",
          "label": "t:global.typography.font_weight.700.label"
        },
        {
          "value": "800",
          "label": "t:global.typography.font_weight.800.label"
        },
        {
          "value": "900",
          "label": "t:global.typography.font_weight.900.label"
        }
      ],
      "default": "400"
    },
    {
      "type": "header",
      "content": "t:global.typography.text.header"
    },
    {
      "id": "text",
      "type": "richtext",
      "label": "t:global.typography.text.label",
      "default": "<p>Highlight a new collection and share details about products related to this image</p>"
    },
    {
      "type": "checkbox",
      "id": "enable_custom_font_styling",
      "label": "t:global.typography.enable_custom_text_styling.label",
      "info": "t:global.typography.enable_custom_text_styling.third_info"
    },
    {
      "type": "select",
      "id": "font_size",
      "label": "t:global.typography.font_size.label",
      "options": [
        {
          "value": "13px",
          "label": "t:global.typography.font_size.13px.label"
        },
        {
          "value": "14px",
          "label": "t:global.typography.font_size.14px.label"
        },
        {
          "value": "16px",
          "label": "t:global.typography.font_size.16px.label"
        },
        {
          "value": "18px",
          "label": "t:global.typography.font_size.18px.label"
        }
      ],
      "default": "16px"
    },
    {
      "type": "header",
      "content": "t:global.button.header"
    },
    {
      "id": "link_text",
      "type": "text",
      "label": "t:sections.two_images_with_text.settings.link_text.label",
      "info": "t:sections.two_images_with_text.settings.link_text.info",
      "default": "View all"
    },
    {
      "id": "link_url",
      "type": "url",
      "label": "t:sections.two_images_with_text.settings.link_url.label"
    },
    {
      "type": "select",
      "id": "button_color_palette",
      "label": "t:global.button_color_palette.label",
      "options": [
        {
          "value": "white",
          "label": "t:global.button_color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.button_color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.button_color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.button_color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.button_color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.button_color_palette.light_2.label"
        }
      ],
      "default": "accent"
    },
    {
      "id": "show_link",
      "type": "checkbox",
      "label": "t:sections.two_images_with_text.settings.show_link.label"
    },
    {
      "type": "header",
      "content": "t:global.shop_the_look.label"
    },
    {
      "id": "show_look",
      "type": "checkbox",
      "label": "t:global.shop_the_look.show_look.label"
    },
    {
      "type": "product_list",
      "id": "product_list",
      "label": "t:global.shop_the_look.product_list.label",
      "limit": 12
    },
    {
      "type": "select",
      "id": "look_btn_color_palette",
      "label": "Color scheme 'add to cart button'",
      "options": [
        {
          "value": "white",
          "label": "t:global.button_color_palette.white.label"
        },
        {
          "value": "black",
          "label": "t:global.button_color_palette.black.label"
        },
        {
          "value": "light",
          "label": "t:global.button_color_palette.light.label"
        },
        {
          "value": "dark",
          "label": "t:global.button_color_palette.dark.label"
        },
        {
          "value": "accent",
          "label": "t:global.button_color_palette.accent.label"
        },
        {
          "value": "light_2",
          "label": "t:global.button_color_palette.light_2.label"
        },
        {
          "value": "buy_button",
          "label": "t:global.button_color_palette.buy_button.label"
        }
      ],
      "default": "buy_button"
    },
    {
      "id": "look_position",
      "type": "select",
      "label": "t:global.shop_the_look.look_position.label",
      "info": "t:global.shop_the_look.look_position.info",
      "options": [
        {
          "value": "start",
          "label": "t:global.shop_the_look.look_position.options__1.label"
        },
        {
          "value": "end",
          "label": "t:global.shop_the_look.look_position.options__2.label"
        }
      ],
      "default": "end"
    },
    {
      "type": "header",
      "content": "t:sections.two_images_with_text.settings.mobile.header"
    },
    {
      "type": "select",
      "id": "height_mobile",
      "label": "t:sections.two_images_with_text.settings.mobile.height_mobile.label",
      "options": [
        {
          "value": "xs",
          "label": "t:sections.two_images_with_text.settings.mobile.height_mobile.options__1.label"
        },
        {
          "value": "s",
          "label": "t:sections.two_images_with_text.settings.mobile.height_mobile.options__2.label"
        },
        {
          "value": "m",
          "label": "t:sections.two_images_with_text.settings.mobile.height_mobile.options__3.label"
        },
        {
          "value": "l",
          "label": "t:sections.two_images_with_text.settings.mobile.height_mobile.options__4.label"
        }
      ],
      "default": "m"
    },
    {
      "type": "header",
      "content": "t:global.spacing.header"
    },
    {
      "id": "spacing_desktop",
      "type": "range",
      "label": "t:global.spacing.spacing_desktop.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 50
    },
    {
      "id": "spacing_mobile",
      "type": "range",
      "label": "t:global.spacing.spacing_mobile.label",
      "min": -300,
      "max": 300,
      "step": 10,
      "unit": "px",
      "default": 30
    },
    {
      "id": "fix_zindex",
      "type": "range",
      "label": "t:global.fix_zindex.label",
      "info": "t:global.fix_zindex.info",
      "min": 0,
      "max": 25,
      "step": 1,
      "default": 0
    }
  ],
  "blocks": [
    {
      "type": "image",
      "name": "t:sections.two_images_with_text.blocks.image.name",
      "settings": [
        {
          "id": "image",
          "type": "image_picker",
          "label": "t:sections.two_images_with_text.blocks.image.settings.image.label"
        },
        {
          "type": "video",
          "id": "video",
          "label": "t:sections.two_images_with_text.blocks.image.settings.video.label"
        },
        {
          "type": "header",
          "content": "t:sections.two_images_with_text.blocks.image.settings.mobile.header"
        },
        {
          "id": "image_mobile",
          "type": "image_picker",
          "label": "t:sections.two_images_with_text.blocks.image.settings.mobile.image_mobile.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.two_images_with_text.presets.name",
      "settings": {
      },
      "blocks": [
        {
          "type": "image"
        },
        {
          "type": "image"
        }
      ]
    }
  ]
}
{% endschema %}